In [74]:
import pandas as pd
import numpy as np
df = pd.read_csv('./Kp_ap_Ap_SN_F107_since_1932.txt',skiprows=39,sep='\s+')
kp_cols=['Kp'+str(i+1) for i in range(8)]
ap_cols=['ap'+str(i+1) for i in range(8)]

In [75]:
df['Kp_daily'] = df[kp_cols].mean(axis=1).round(2)

In [76]:
df.head()

,#YYY,MM,DD,days,days_m,Bsr,dB,Kp1,Kp2,Kp3,...,ap5,ap6,ap7,ap8,Ap,SN,F10.7obs,F10.7adj,D,Kp_daily
0,1932,1,1,0,0.5,1352,10,3.333,2.667,2.333,...,18,12,18,18,15,22,-1.0,-1.0,2,2.96
1,1932,1,2,1,1.5,1352,11,3.667,3.667,3.333,...,18,39,15,48,26,43,-1.0,-1.0,2,3.79
2,1932,1,3,2,2.5,1352,12,3.333,3.333,3.000,...,9,6,12,7,11,23,-1.0,-1.0,2,2.42
3,1932,1,4,3,3.5,1352,13,2.000,0.333,1.000,...,4,5,5,4,4,13,-1.0,-1.0,2,1.00
4,1932,1,5,4,4.5,1352,14,0.000,0.000,0.333,...,2,5,5,7,3,13,-1.0,-1.0,2,0.75

In [77]:
from datetime import datetime
df['date']=[datetime(df['#YYY'].values[i],df.MM.values[i],df.DD.values[i]) for i in range(len(df))]

In [79]:
df.head()

,#YYY,MM,DD,days,days_m,Bsr,dB,Kp1,Kp2,Kp3,...,ap6,ap7,ap8,Ap,SN,F10.7obs,F10.7adj,D,Kp_daily,date
0,1932,1,1,0,0.5,1352,10,3.333,2.667,2.333,...,12,18,18,15,22,-1.0,-1.0,2,2.96,1932-01-01
1,1932,1,2,1,1.5,1352,11,3.667,3.667,3.333,...,39,15,48,26,43,-1.0,-1.0,2,3.79,1932-01-02
2,1932,1,3,2,2.5,1352,12,3.333,3.333,3.000,...,6,12,7,11,23,-1.0,-1.0,2,2.42,1932-01-03
3,1932,1,4,3,3.5,1352,13,2.000,0.333,1.000,...,5,5,4,4,13,-1.0,-1.0,2,1.00,1932-01-04
4,1932,1,5,4,4.5,1352,14,0.000,0.000,0.333,...,5,5,7,3,13,-1.0,-1.0,2,0.75,1932-01-05

In [80]:
df[df['Kp_daily']<1.5]['date']

3       1932-01-04
4       1932-01-05
5       1932-01-06
16      1932-01-17
17      1932-01-18
           ...
33221   2022-12-15
33222   2022-12-16
33223   2022-12-17
33224   2022-12-18
33226   2022-12-20
Name: date, Length: 10727, dtype: datetime64[ns]